/*
/*\_________________________________________________________________________________________________
|*												说明											     __≣|
|* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
|*      此代码由VM模板自动生成																	    |
|*		版本:v0.0.0.1                                                                            |___
|*		日期:${dateTime}                                                                    ≣|
|*																	create by    LCTR              ≣|
|*																	generate by  ${currentOpName}≣|
|* ________________________________________________________________________________________________≣|
**/


/**
#if($description)
 * ${description}
#end
 *
 * @author ${table.signature}
 * @date ${date}
 */
export const enum ${name} {
    #foreach($value in $values)
    /**
    #if($value.description)
     * ${value.description}
    #end
     *
     */
    ${value.key} = '${value.value}',

    #end
}
